<header class="dark-header">
 <div class="logo" routerLink="/" style="cursor: pointer;">
  DARK<span>TECH</span>
</div>

  <nav>
    <a routerLink="/products" routerLinkActive="active">
      🛍️ Produtos
    </a>

    <a routerLink="/cart" routerLinkActive="active" class="cart-btn">
      🛒 Carrinho
      <span class="badge" *ngIf="cartService.obterQuantidadeTotal() > 0">
        {{ cartService.obterQuantidadeTotal() }}
      </span>
    </a>

    <a *ngIf="!isLogado()" routerLink="/login" routerLinkActive="active">
     👤 Login</a>
    <a *ngIf="!isLogado()" routerLink="/cadastro" routerLinkActive="active">
    📝Cadastro</a>

    <ng-container *ngIf="isLogado()">
      <a class="profile" routerLink="/cart">
        Olá, {{ usuario()?.nome }}
      </a>
      <a class="profile" href="#" (click)="sair(); $event.preventDefault()">
        Sair
      </a>
    </ng-container>
  </nav>
</header>