@use '../login/login.component.scss' as *;

.success {
  margin: 12px 0 14px;
  background: rgba(0, 212, 180, 0.12);
  border: 1px solid rgba(0, 212, 180, 0.45);
  color: #00d4b4;
  padding: 10px;
  border-radius: 10px;
}