<div class="page">
  <div class="auth-card">
    <h2>Login</h2>
    <p class="muted">Acesse para finalizar sua compra.</p>

    <form (ngSubmit)="entrar()">
      <label>
        Email
        <input name="email" type="email" [(ngModel)]="email" required />
      </label>

      <label>
        Senha
        <input name="senha" type="password" [(ngModel)]="senha" required minlength="4" />
      </label>

      <div class="error" *ngIf="erro">{{ erro }}</div>

      <button type="submit" class="btn">Entrar</button>
    </form>

    <div class="links">
      <a routerLink="/cadastro">Criar conta</a>
      <span class="dot">•</span>
      <a routerLink="/">Voltar</a>
    </div>
  </div>
</div>

